<div class="container">
  <h1>Lista de Alunos</h1>
  
  <div class="cadastro">
    <p>Alunos cadastrados</p>
    <button>Adicionar Aluno</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Data de Nascimento</th>
        <th>Sexo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>nome</td>
        <td>email</td>
        <td>aniversario</td>
        <td>sexo</td>
        <td>
          <button >Editar</button>
          <button>Remover</button>
        </td>
      </tr>
    </tbody>
  </table>

  
</div>
